
.logo{
    width: 200px;
    margin-left: 30px;
} 

.img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;   
}
.box{
    padding: 2em;
   
}

.main-content{
    padding-top: 1em;

}
.mid-section{
    background: rgb(216,216,216);
    background: linear-gradient(135deg, rgba(216,216,216,1) 0%, rgb(168, 168, 166) 100%);
}



.fb{
    
    padding-left:1em;
    font-weight: bolder;   
}

.social{
    padding-top: 1em;
    cursor: pointer;
   
}
.social:hover{
    color:grey
}
.foot{
    width: 100%;
    background-color: black;
    padding-top: 8px;
}



